<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<!-- Location of the mopo16s initial primer pairs file-->
<table name="mopo16s_initial_primer_pairs_file" comment_char="#">
    <columns>value, name, path</columns>
    <file path="tool-data/mopo16s_initial_primer_pairs_file.loc" />
</table>
